/* Global */

:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;

    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Size */
    --size-border-radius :4px;
    --base-Margin :15px;
    --base-Padding: 20px;

    /* Annimation  */
    --animation-duration: 300ms;
}
  /* Typography */

body{
    margin: 0;
    font-family: 'Open Sans';
}

a{
    text-decoration: none;
    color: white;
}
ul{
    list-style: none;
    /* ul 에는 기본적으로 패딩을 가지고 있다. 그래서 패딩을 없애주자 */
    padding-left: 0;
}

button{
    /* 버튼의 기본 */
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
}

h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
}

h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0;
}

p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
}
/* Navbar Styling*/
#navbar{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #e84393; */
    background-color: transparent;
    color: white;
    padding: 10px 0px;
    transition: all var(--animation-duration) ease-in;
    /* 이거는 복습 몰랐엉 ㅜㅜ*/
    z-index: 1;

}

#navbar.navbar--dark{
    background-color: #D980FA;
    padding: 8px;
}

.navbar__log{
    display: flex;
    align-items: center;
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);

}
.navbar__log img{
    width: 100px;
}
.navbar__menu{
    display: flex;
    padding-right: 10px;

}
.navbar__item:hover{
    background-color: var(--color-dark-pink);
    /* transition: all 1s ease; */

}
.navbar__item{
    padding: 8px 12px;
    margin: 0px 4px;
    cursor: pointer;
    border-radius: var(--size-border-radius);
}
.navbar__item.active{
    border: 1px solid var(--color-white);
}

.navbar__togleBtn{
    /* display: none; */
    position: absolute;
    right: 32px;
    font-size: 32px;
    top: 46px;
    color: var(--color-white);
    display: none;
}

/* Home Styling */
#Home{
    /* background의 사용방법 center/cover no-repeat  반응형으로 만들기*/
    background:url(img/background.png) center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 100px;
}
#Home>img{
    margin: var(--base-Margin) 0px;
    border-radius: 100%;
}

.Home__title,
.Home__description{
    color: var(--color-white);
    margin: var(--base-Margin) 0px;
}

.Home__contact{
    color: white;
    border-radius: var(--size-border-radius);
    border: 2px solid var(--color-light-white);
    font-size: var(--font-regular);
    font-weight: var(--weight-bold);
    margin: var(--base-Margin) 0px;
    padding: 8px 12px;
}
/* Section Common */
.section{
    padding:50px;
    text-align: center;
    margin: auto;
}
.section__container{
    max-width: 1200px;
    margin: auto;
}


/* About Me Styling */

.about__majors{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin: 80px 0;
}
.major{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
}

.major__icon i:hover{
    color: var(--color-pink);
    transform: rotate(-30deg) scale(1.1);
}
.major__icon i{
    transition: all var(--animation-duration) ease;
}

.major__icon{
    /* 아이콘만 동그라미를 그리는 방법  */
    width: 170px;
    height: 170px;
    font-size: 70px;
    line-height: 170px;
    margin: auto;
    color: var(--color-blue);
    border: 2px solid var(--color-blue);
    margin-bottom: 16px;
    border-radius: 50%;
}


.about__school{
    display: flex;
    align-self: flex-start;
    flex-direction: column;
}
.school{
    display: flex;
    align-items: center;
}
.school__log{
    width: 100px;
}
.school__description{
    text-align: left;
}
.school_name,.school__period{
    color:var(--color-dark-grey);
}

.school_name{
    font-size: var(--font-small);
}
.school__period{
    font-size: var(--font-micro);
}

/* Skill Styling */

#skills{
    background-color: var(--color-yellow);
}
.skillset{
    display: flex;
    justify-content: space-around;
    color: var(--color-white);
    background-color:var(--color-grey);
    margin: 20px 0px;
}
.skillset__title{
    color: var(--color-white);
}
.skillset__left{
    background-color: var(--color-dark-grey);
    /* flexbox 상황에서 width가 늘려지지 않을때 사용 */
    flex-basis: 60%;
    padding: var(--base-Padding) calc(var(--base-Padding)*2);
}
.skillset__right{
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.skill__description{
    display: flex;
    justify-content: space-between;
}
.skill{
    margin-bottom: 32px;
}
.skill__bar{
    width: 100%;
    height: 3px;
    background-color: grey;
}
.skill__value{
    height: 3px;
    color: var(--color-orange);
}
.tools,
.etc{
    padding: var(--base-Padding);
}
.etc{
    background-color: var(--color-light-grey);
}

/* -----------------My Work Styling ------------------*/
.work__categories{
    margin: 40px;
}

.categories__btn{
    border: 1px solid var(--color-dark-white);
    border-radius: var(--size-border-radius);
    font-size: var(--font-regular);
    padding: 8px 48px;

}
.categories__btn.active,
.categories__btn:hover{
    background-color: var(--color-pink);
    color: var(--color-white);
}


.categories__btn.active .category__count,
.categories__btn:hover .category__count{
    opacity: 1;
    top:0
}
.category__count{
    background-color: var(--color-orange);
    color: var(--color-light-white);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: inline-block;
    line-height: 24px;
    /* 프로젝트하면서 relative 처음 써봄 */
    position: relative;
    top:-20px;
    left: 4px;
    opacity: 0;
    transition: all var(--animation-duration) ease-in;
}

.work__projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project{
    position: relative;
    width: 280px;
    height: 280px;
    margin: var(--base-Margin);
    background-color: var(--color-light-white);

    display: flex;
    justify-content: center;
    align-items: center;
}
.project__img{
    /* 그림이 자신의 통안에서만 커질수 있게 하기위함이다.  */
    max-width: 100%;
    max-height: 100%;
}

/* 복습해야할 부분 */
.project__description{
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    /* 밑에서 올라오게 하기 위해서 */
    transform: translateY(10px);
    transition: all var(--animation-duration) ease-in;
}
/* 프로젝트에 올라왔을 때 project__description이  */
.project:hover .project__description{
    opacity: 0.8;
    transform: translateY(0px);
}

.project__description h3{
    color:var(--color-white)
}
/* 줄넣기 이건 처음해보는것 */
/* h3에 다음에 선 넣기  */
.project__description h3::after{
    display: block;
    content: '';
    width: 25px;
    height: 2px;
    background-color: var(--color-white);
    position: relative;
    left: 50%;
    margin-left: -12px;
    margin-top: 8px;
}


/* -----------------contact Styling----------------- */
#contact{
    background-color: #D980FA;
}
.contact__title,
.contact__email,
.contact__rights{
    color: var(--color-white);
}

.contact__title{
    margin-top: 32px 0;
}
.contact__links{
    font-size:var(--font-large);
    margin: 24px 0px;
    transition: all var(--animation-duration) ease-in;
}

.contact__links i:hover{
    transform: scale(1.1);
    color: var(--color-yellow);
}

@media screen and (max-width:768px){
    .navbar__togleBtn{
        display: block;
    }
    #navbar{
        flex-direction: column;
    }
    .navbar__log{
        align-self: flex-start;
    }
    .navbar__menu{
        flex-direction: column;
        display: none;
    }
    .about__majors{
        flex-direction: column;
        align-items: center;
    }
    .major{
        margin: var(--base-Margin);
    }
    .skillset{
        flex-direction: column;
    }
    .project{
        /* 이부분 공부하기 아직 flex-grow랑 shrink잘 모름 */
        flex-grow: 1;
    }
}