/* Global */

:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;

    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Size */
    --size-border-radius :4px;
    --base-Margin :15px;
}
  /* Typography */

body{
    margin: 0;
    font-family: 'Open Sans';
}

a{
    text-decoration: none;
    color: white;
}
ul{
    list-style: none;
    /* ul 에는 기본적으로 패딩을 가지고 있다. 그래서 패딩을 없애주자 */
    padding-left: 0;
}

button{
    /* 버튼의 기본 */
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
}

h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
}

h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0;
}

p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
}
/* Navbar Styling*/
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e84393;
    color: white;
    padding: 16px;
}
.navbar__log{
    display: flex;
    align-items: center;
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);

}
.navbar__log img{
    width: 100px;
}
.navbar__menu{
    display: flex;

}
.navbar__item:hover{
    background-color: var(--color-dark-pink);
    /* transition: all 1s ease; */

}
.navbar__item{
    padding: 8px 12px;
    margin: 0px 4px;
    cursor: pointer;
    border-radius: var(--size-border-radius);
}
.navbar__item.active{
    border: 1px solid var(--color-white);
}

/* Home Styling */
#Home{
    /* background의 사용방법 center/cover no-repeat  반응형으로 만들기*/
    background:url(img/background.png) center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#Home>img{
    margin: var(--base-Margin) 0px;
    border-radius: 100%;
}

.Home__title,
.Home__description{
    color: var(--color-white);
    margin: var(--base-Margin) 0px;
}

.Home__contact{
    color: white;
    border-radius: var(--size-border-radius);
    border: 2px solid var(--color-light-white);
    font-size: var(--font-regular);
    font-weight: var(--weight-bold);
    margin: var(--base-Margin) 0px;
    padding: 8px 12px;
}